/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 500px;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    width: 500px;
    height: 550px;
    background-color:#ffe7c5;
    border-radius: 25px;
    border: 3px solid #d6832a;
  }
  .topic{
    color: #d6832a;
 }


  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 50%;
    padding: 10px;
    margin: 5px;;
    border: none;
    background: #ddd;
    border-radius: 25px;
  }

    /* labels alignment */
 .text label{
    float: left;
    color: black;
    padding: 10px 10px 10px 0;
    margin-left: 20px;
  }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color:white;
    outline: none;
  }

  .cbox label{
    color: black;

  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #d6832a ;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 25px;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }